@import url(http://fonts.googleapis.com/css?family=Berkshire+Swash);

body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: 'Berkshire Swash';
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 48px;
}

#toolbar {
	user-select: none;
	position: absolute;
	height: 48px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0;
	
	background: linear-gradient(bottom, #765 0%, #cba 90%, #fff 95%, #cba 100%);
	background: -webkit-linear-gradient(bottom, #765 0%, #cba 90%, #fff 95%, #cba 100%);
	background: -moz-linear-gradient(bottom, #765 0%, #cba 90%, #fff 95%, #cba 100%);
	box-shadow: 0 0 16px black;
}

div.tool,
div.menu {
	margin: 8px;
	width: 32px;
	height: 32px;
	display: inline-block;
	background-size: 100% 100%;
}

.tool {
	cursor: pointer;
}

.menu {
	float: right;
	cursor: pointer;
}

/* ----- */

.time, .time2 {
	margin: auto;
	display: inline-block;
	-webkit-user-select: none;
}

.time {
	width: 100px;
	height: 100px;
}

.time2 {
	width: 150px;
	height: 150px;
	margin: 6px;
}

input {
	margin: 6px;
}

input[type=text] {
	font-size: 110%;
	font-family: inherit;
	padding: 3px;
	display: inline-block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	outline: none;
	border: 2px solid #fa0;
	background: linear-gradient(bottom, #fff, #ddd);
	background: -webkit-linear-gradient(bottom, #fff, #ddd);
	background: -moz-linear-gradient(bottom, #fff, #ddd);
}

input[type=button], input[type=submit] {
	font-size: 110%;
	font-family: inherit;
	padding: 3px 9px;
	display: inline-block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	outline: none;
	border: 2px solid #0af;
	background: #eee;
	background: linear-gradient(bottom, #ddd, #fff);
	background: -webkit-linear-gradient(bottom, #ddd, #fff);
	background: -moz-linear-gradient(bottom, #ddd, #fff);
}

input[type=button]:active, input[type=submit]:active {
	border-color: #06a;
	background: #ccc;
	background: linear-gradient(bottom, #ddd, #aaa);
	background: -webkit-linear-gradient(bottom, #ddd, #aaa);
	background: -moz-linear-gradient(bottom, #ddd, #aaa);
}

input[type=button]:focus, input[type=submit]:focus {
	border-color: #fff;
}

/* Boxes */

#boxmenu {
	position: absolute;
	width: 200px;
	bottom: 48px;
	right: 6px;
	
	background: #eee;
	padding: 8px;
	
	border-radius: 12px 12px 0 0;
	box-shadow: 0 0 12px black;
}
